* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.accordion-item .title {
  background-color: #b2bec3;
  padding: 20px;
  cursor: pointer;
  font-size: large;
}
.accordion-item .title:hover {
  background-color: #636e72;
}
.accordion-item .content {
  background-color: #dfe6e9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 0 20px;
}

.accordion-item .content p {
  padding: 20px 0;
}
