* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.breadcrumb {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #d1d1d1;
  padding: 10px;
}
.breadcrumb li a {
  text-decoration: none;
  text-transform: capitalize;
}
.breadcrumb li + li::before {
  content: "/";
  padding: 0 10px;
}
