.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #fbbd23 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #fbbd23);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

/* topToBtn */
#topToBtn {
  width: 30px;
  height: 30px;
  background-color: #fbbd23;
  position: fixed;
  right: 20px;
  bottom: 50px;
  color: #fff;
  display: flex;
  cursor: pointer;
  /* opacity: 0;
  visibility: hidden; */
  transition: all 0.5s ease-in;
}
#topToBtn i {
  font-size: 20px;
  margin: auto;
}
