* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border-radius: 21px;
  background: linear-gradient(145deg, #ffffff, #d8dfe6);
  box-shadow: 5px 5px 10px #c5cbd1, -5px -5px 10px #ffffff;
}
.container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.header {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
}

.form-area form {
  width: 600px;
  display: flex;
  flex-direction: row;
  margin: 50px auto;
}
.form-area form input {
  padding: 10px 15px;
  width: 100%;
  border: none;
  border-radius: 10px 0 0 10px;
  background: linear-gradient(145deg, #d8dfe6, #ffffff);
  box-shadow: 5px 5px 10px #c5cbd1, -5px -5px 10px #ffffff;
  transition: transform 0.2 ease-in;
}
.form-area form input:focus {
  outline: 1px solid orange;
}
.form-area form .btn {
  padding: 10px;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: orange;
  color: #fff;
  cursor: pointer;
}

.form-area form .btn:active {
  transform: scale(0.95);
}

.todo-list {
  background-color: #c5cbd1;
  width: 600px;
  margin: 5px auto;
  padding: 5px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.no-task {
  width: 600px;
  margin: auto;
  text-align: center;
  font-size: 18px;
}
.todo-list button {
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 3px 10px;
  cursor: pointer;
  transition: transform 0.2 ease-in;
}
.todo-list button:active {
  transform: scale(0.95);
}
