* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #397524 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #397524;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #62a34b;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #62a34b;
}

header {
  background-color: #000;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

.scrollmenu {
  margin-top: 50px;
  white-space: nowrap;
  overflow: auto;
}

.scrollmenu a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  color: #fff;
  display: inline-block;
}
.scrollmenu a:hover {
  background-color: #777;
}
