* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1ebeb;
}
.main {
  max-width: 500px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  padding: 30px;
}

.main input {
  width: 100%;
  border: transparent;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  font-size: 16px;
}

button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, 0px 0px 12px #ffffff;
}
button {
  margin-top: 20px;
  cursor: pointer;
}
button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #9bb6a4 0%, #777548 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 9em;
}
#output {
  margin-top: 20px;
  font-size: 18px;
}
