* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sideBar {
  background-color: black;
  color: #fff;
  position: fixed;
  width: 200px;
  padding-left: 20px;
  height: 100%;
}

.sideBar ul {
  list-style: none;
}
.sideBar ul > li .dropDown-btn {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
}
.sideBar ul > li .dropDown-content {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.sideBar ul > li .dropDown-content ul {
  background-color: #222522;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.sideBar ul > li .dropDown-content ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 20px;
  cursor: pointer;
}
.sideBar ul > li:hover {
  background-color: #252424cc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.main {
  margin-left: 200px;
  padding: 20px;
}
